################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RMS_API/FileContentIndex/da33886a-fcc6-4b5b-8868-df59f560f6d8.vsidx
/.gitignore
/.vs/RMS_API/FileContentIndex/0533fa44-6252-48aa-95c8-9e65eab51a8a.vsidx
/.gitignore
